* {
    font-family: 'Roboto', sans-serif;   
}

a:link, a:visited {
    color: orangered;
    text-decoration: none;
}

a:hover {
    color: orange;
}

.main {
    margin: 0 auto;
    width: 800px;   
}

.header {
    align-items: center;
    display: flex;
    font-size: 1.25em; 
}

.header .title {
    font-weight: bold;
}

.header img {
    border-radius: 50%;
    height: 75px;
    padding-right: 16px;
}

.nav {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: 32px 0;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 8px 0;
}

.nav ul li {
    margin-right: 16px;
}

.post, .section {
    margin: 64px 0;
}

.post img {
    height: 32px;
}

.post-footer {
    color: white;
    display: flex;
    justify-content: space-between;
}

.post-footer span {
    border-radius: 4px;
    display: inline-block;
    padding: 8px;
}

.post-footer span.date {
    background-color: gray;
}

.post-footer span.time {
    border: 1px solid gray;
    color: gray;
}

.post-footer span.completed {
    background-color: green;
}

.post-footer span.waiting {
    background-color: steelblue;
}
